In [77]:
import pandas as pd
import numpy as np 
import spacy
from tqdm import tqdm

In [16]:
fake_df = pd.read_csv("Fake.csv")
real_df = pd.read_csv("True.csv")

In [31]:
real_df.head(10)

,title,text,subject,date,lable,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",real,real
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",real,real
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",real,real
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",real,real
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",real,real
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",real,real
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",real,real
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",real,real
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",real,real
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",real,real

In [30]:
fake_df["label"] = "fake"
real_df["label"] = "real"

In [34]:
new_fake_df = fake_df[["title" , "label"]]
new_real_df = real_df[["title" , "label"]]

In [51]:
cut_fake_df = new_fake_df.iloc[:5000]
cut_real_df = new_real_df.iloc[:5000]

In [55]:
cut_real_df.head(10)

                                               title label
0  As U.S. budget fight looms, Republicans flip t...  real
1  U.S. military to accept transgender recruits o...  real
2  Senior U.S. Republican senator: 'Let Mr. Muell...  real
3  FBI Russia probe helped by Australian diplomat...  real
4  Trump wants Postal Service to charge 'much mor...  real
5  White House, Congress prepare for talks on spe...  real
6  Trump says Russia probe will be fair, but time...  real
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  real
8         Trump on Twitter (Dec 28) - Global Warming  real
9  Alabama official to certify Senator-elect Jone...  real

In [56]:
news_df = pd.concat([cut_real_df , cut_fake_df] , axis=0 )

In [83]:
news_df.head(10)

                                               title  label  vector
0  As U.S. budget fight looms, Republicans flip t...      0       0
1  U.S. military to accept transgender recruits o...      0       0
2  Senior U.S. Republican senator: 'Let Mr. Muell...      0       0
3  FBI Russia probe helped by Australian diplomat...      0       0
4  Trump wants Postal Service to charge 'much mor...      0       0
5  White House, Congress prepare for talks on spe...      0       0
6  Trump says Russia probe will be fair, but time...      0       0
7  Factbox: Trump on Twitter (Dec 29) - Approval ...      0       0
8         Trump on Twitter (Dec 28) - Global Warming      0       0
9  Alabama official to certify Senator-elect Jone...      0       0

In [70]:
news_df.label.value_counts()

0    5000
1    5000
Name: label, dtype: int64

In [64]:
news_df["label"] = news_df["label"].replace(["fake" , "real"] , [1 , 0])

In [68]:
news_df["vector"] = 0

In [98]:
nlp = spacy.load("en_core_web_lg")

# Iterate over the DataFrame
for index, row in tqdm(news_df.iterrows(), total=news_df.shape[0]):
    pass

news_df.at[3, "label"]


# nlp = spacy.load("en_core_web_lg")

# # Iterate over the DataFrame
# for index, row in tqdm(news_df.iterrows(), total=news_df.shape[0]):
#     news_df.at[index, "vector"] = nlp(row["title"]).vector

100%|██████████| 10000/10000 [00:00<00:00, 58357.48it/s]

3    0
3    1
Name: label, dtype: int64